.Banner {
    height: 50vh;
    background: linear-gradient(rgba(46, 46, 46, 0.7), rgba(32, 32, 32, 0.7)),
      url("../images/homeBG.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 75%;
    font-family: "Times New Roman", Times, serif;
  }
  
  .BannerH1,
  .BannerH2 {
    position: relative;
    color: white;
    font-weight: bold;
    display: block;
    left: 50%;
    top: 35%;
  }
  
  .BannerH1 {
    font-size: 30px;
  }
  
  .BannerH2 {
    font-size: 22px;
  }
  
  .Features {
    background-color: #f1c40f;
    font-family: "Lucida Bright";
    height: 50vh;
    overflow: hidden;
  }
  
  .FeaturesH1 {
    font-weight: 500;
    font-size: 25px;
    padding: 3%;
  }
  
  .FeaturesCol {
    font-size: 20px;
    padding-left: 12.5%;
    padding-right: 12.5%;
    height: 100%;
    width: 100%;
  }
  