.Banner {
  height: 60vh;
  background: linear-gradient(
      rgba(170, 170, 170, 0.123),
      rgba(44, 44, 44, 0.322)
    ),
    url("../images/homeBG.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Times New Roman", Times, serif;
}

.BannerH1,
.BannerH2 {
  position: relative;
  color: white;
  font-weight: bold;
  display: block;
  left: 20%;
  top: 35%;
}

.BannerH1 {
  font-size: 30px;
}

.BannerH2 {
  font-size: 20px;
  opacity: 80%;
}

.Features {
  background-color: #f1c40f;
  font-family: "Lucida Bright";
  height: 50vh;
  overflow: hidden;
}

.FeaturesRow1 {
  width: 100%;
  padding-left: 2.5%;
}

.FeaturesH1 {
  font-weight: 500;
  font-size: 25px;
  padding: 3%;
  float: left;
}

.FeaturesCol {
  padding-left: 12.5%;
  padding-right: 12.5%;
  font-size: 20px;
  height: 100%;
  width: 100%;
}
